<h1>New Author</h1>

<%if flash[:my_errors]%>
    <%flash[:my_errors].each do |error|%>
    <p><%=error%></p>
    <%end%>
<%end%>

<%=form_for @author do |f|%>
<%=f.label :name%>
<%=f.text_field :name%>
<br>
<%=f.label :phone_number%>
<%=f.text_field :phone_number%>
<br>

<%=f.submit%>
<%end%>